<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PE_PRJ301"> 
    <test name="TblUsersDAONGTest">
        <parameter name="inValidUserID" value="SE170443"/>
        <parameter name="inValidPassword" value="333"/>     
        <classes>
            <class name="pe.tblUsers.TblUsersDAONGTest"/>
        </classes>
    </test>
</suite>
